<div class="new-edit-form card">
  <h1 class="page-title">Login</h1>
  <%= render 'players/errors' %>

  <%= form_for(@player, url: signin_path) do |f| %>
    <%= f.label 'Username: ' %>
    <%= f.text_field :username %>
    <br>
    <%= f.label 'Password: ' %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Login" %>
    <br>
    <%= link_to('Log in with Github!', '/auth/github') %>
  <% end %>
</div>