<div class="new-edit-form card">
  <h1 class="page-title">Log In To The Matrix</h1>
  <%= render 'players/errors' %>

  <%= form_for(@player, url: signin_path) do |f| %>
    <%= f.label 'Username: ' %>
    <%= f.text_field :username %>
    <br>
    <%= f.label 'Password: ' %>
    <%= f.text_field :password %>
    <br>
    <br>
    <%= f.submit "Log In" %>
  <% end %>
</div>