<h1 class="page-headline">Signin!</h1>
<div class="new-edit-form card">
  <h1 class="page-title">Create A New Player</h1>
  <%= render 'players/errors' %>

  <%= form_for @player, :html => {class: "form-group"} do |f| %>
    <%= f.label 'Username: ' %>
    <%= f.text_field :username %>
    <br>
    <%= f.label 'Password: ' %>
    <%= f.text_field :password %>
    <br>
    <br>
    <%= f.submit %>
  <% end %>
</div>