<div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/1293261/pexels-photo-1293261.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
        </div>
        <div class="card-body">
            <div class="col-md-8">
                <%= render 'arcades/arcade' %>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card text-white bg-secondary mb-3 inline" style="max-width: 18rem; height: 400px; width: 700px; margin: auto; ">
        <div class="card-header">
            <h4><%= @game.name %><h4>
        </div>
        <div class="card-body">
            <p class="card-text">Max Players: <%= @game.num_players %></p>
            <p class="card-text">Costs: <%= @game.cost %> cents</p>
            <p class="card-text">In Order: <%= @game.working %></p>
            <p class="card-text">Current Player: <%= @game.player.username %></p>
            <br>
        </div>
    </div>
</div>

<% if authorized? %>
    <%= link_to "Edit your game", edit_player_path(@game) %>
    <%= form_tag player_path(@game.id), method: "delete", data: { confirm: "Pull the plug?" } do %>
        <%= submit_tag "Shut down this game" %>
    <% end %>
<% end %>