<%= render 'arcades/arcade' %>

<div>
    <h3><%= @game.name %></h3>
    <p>Number of players: <%= @game.num_players %></p>
    <p>Cost per game: <%= @game.cost %></p>
    <p>Playable: <%= @game.working %></p>
</div>

<% if logged_in? && current_user.username == @game.arcade.owner_name %>
    <%= link_to "Edit your game", edit_player_path(@game) %>
    <%= form_tag player_path(@game.id), method: "delete", data: { confirm: "Pull the plug?" } do %>
        <%= submit_tag "Shut down this game" %>
    <% end %>
<% end %>