<div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/1293261/pexels-photo-1293261.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
        </div>
        <div class="card-body">
            <div class="col-md-8">            
                <h3 class="card-title">Found at: <%= @arcade.name %></h3>
                <p class="card-text">Located in: <%= @arcade.location %></p>
                <p class="card-text">Owned by: <%= @arcade.owner_name %></p>
                <p class="card-text">Open from: <%= @arcade.open_time - @arcade.close_time %></p>
                <p class="card-text">Open since: <%= @arcade.est_year %>
            </div>
        </div>
    </div>
</div>

<div>
    <h3><%= @game.name %></h3>
    <p>Number of players: <%= @game.num_players %></p>
    <p>Cost per game: <%= @game.cost %></p>
    <p>Playable: <%= @game.working %></p>
</div>

<% if current_user.username == @game.arcade.owner_name %>
    <%= link_to "Edit your game", edit_player_path(@game) %>
    <%= form_tag player_path(@game.id), method: "delete", data: { confirm: "Pull the plug?" } do %>
        <%= submit_tag "Shut down this game" %>
    <% end %>
<% end %>