<h1>Edit Your Stats </h1>

<%= render 'errors' %>

<%= form_for @player do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br>
    <%= f.label :allowance %>
    <%= f.number_field :allowance, :class => 'text_field', :step => 0.25 %>
    <br>

    <%= f.submit %>
<% end %>