<div class="new-edit-form card">
  <h1 class="page-title">Create A New Player</h1>
  <%= render 'errors' %>

  <%= form_for @player, :html => {class: "form-group"} do |f| %>
    <%= f.label 'Create a Username: ' %>
    <%= f.text_field :username %>
    <br>
    <%= f.label 'How old are you? ' %>
    <%= f.number_field :age %>
    <br>
    <%= f.label 'What\'s your allowance? ' %>
    <%= f.number_field :allowance, :class => 'text_field', :step => 0.25 %>
    <br>
    <%= f.label 'Create a password: ' %>
    <%= f.text_field :password %>
    <br>
    <br>
    <%= f.submit %>
  <% end %>
</div>