<h3><%= @player.username %></h3>
<p>Age: <%= @player.age %></p>
<p>Allowance: $<%= @player.allowance %></p>

<% if current_user == @player %>
    <%= link_to "Adjust Your Stats", edit_player_path(@player) %>
    <%= form_tag player_path(@player.id), method: "delete", data: { confirm: "Swallow The Pill?" } do %>
        <%= submit_tag "Take The Blue Pill" %>
      <% end %>
<% end %>