<div class="card mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/1293261/pexels-photo-1293261.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
        </div>
        <div class="card-body">
            <div class="col-md-8">            
                <h2 class="card-title"><%= @arcade.name %></h2>
                <p class="card-text">Located in: <%= @arcade.location %></p>
                <p class="card-text">Owned by: <%= @arcade.owner_name %></p>
                <p class="card-text">Open from: <%= @arcade.open_time - @arcade.close_time %></p>
                <p class="card-text">Open since: <%= @arcade.est_year %>
            </div>
        </div>
    </div>
</div>
<br>
<% if logged_in? && current_user.username == @arcade.owner_name %>
    <%= link_to "Edit Your Arcade", edit_arcade_path(@arcade) %>
    <%= form_tag arcade_path(@arcade), method: "delete", data: { confirm: "Are you sure?" } do %>
        <%= submit_tag "Close this Arcade" %>
    <% end %>
<% end %>

<div class="container">
    <% @arcade.games.each do |game| %>
        <div class="card text-white bg-secondary mb-3 float-left inline" style="max-width: 18rem; height: 400px; width: 700px; margin: 30px;">
            <div class="card-header">
                <h4><%= game.name %><h4>
            </div>
            <div class="card-body">
                <p class="card-text">Max Players: <%= game.num_players %></p>
                <p class="card-text">Costs: <%= game.cost %> cents</p>
                <p class="card-text">In Order: <%= game.working %></p>
                <p class="card-text">Current Player: <%= game.player.username %></p>
                <br>
                <%= link_to 'Check this game out', game_path(game) %>
                <% if logged_in? && @arcade.owner_name == current_user.username %>
                    <%= link_to 'edit game', edit_game_path(game) %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>